<footer class="p-5 d-flex bg-dark text-white">
  <div class="mr-2">This is a very simple footer.</div>
  <div class="ml-auto text-muted">Copyright title here or just ❤</div>
</footer>
<script src="/index.js"></script>