<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <h1 class="text-center">OOPS !!</h1>
    <h1 class="text-center">Not Found !!!</h1>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
