<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %> 

  <body>
    <div class="container-fluid main-cont">

    <%- include('./partials/nav.ejs') %>

    <h1 class="text-center">About</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod mollitia amet fugit, ut nobis laudantium dolorum error cupiditate nemo iste sunt dolores veritatis blanditiis animi vero ratione atque suscipit laboriosam corporis consequatur eaque soluta eveniet? Error iste quas unde aperiam sint quisquam soluta deserunt neque. Nostrum ex error hic amet, exercitationem magni iure nihil assumenda repellendus quo ducimus suscipit, nemo adipisci temporibus ipsa molestiae quas. Doloribus tempore vero dolor necessitatibus beatae odio optio ratione, quidem obcaecati quo laboriosam laborum natus ut inventore corporis nulla aliquam maxime sequi provident ipsum eos tenetur beatae ipsa. Maxime eius veniam quo officiis adipisci, dolorum delectus error reiciendis veritatis blanditiis modi a, architecto quae possimus ab vero nam exercitationem molestiae porro labore perspiciatis autem impedit doloremque quidem. Ea quo, doloribus similique hic officia nulla suscipit. Excepturi voluptatibus nisi dolorem modi error pariatur libero optio sed repellendus eos in necessitatibus facilis distinctio, illum ut est asperiores aliquam natus qui ipsam, nulla exercitationem eligendi fugit iste. Iure blanditiis aspernatur inventore consequatur, a sed ab. Laudantium saepe aspernatur sint dicta voluptatibus necessitatibus corrupti quae quibusdam rerum magnam nesciunt accusamus, blanditiis, error voluptates ab tempore quam aut modi! Omnis deleniti similique quod unde aliquid. Delectus quaerat vero, in, exercitationem recusandae maiores nisi ipsam aperiam porro officiis dignissimos ullam, laboriosam quis voluptate corrupti! Explicabo, voluptatibus fugiat voluptates praesentium ipsum unde necessitatibus.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel temporibus, repellat optio maiores doloribus consectetur eius culpa autem beatae, reprehenderit tempora eligendi aliquam facere? Voluptas error quas doloribus optio voluptatem. Ipsa alias labore non fugit quisquam velit perspiciatis minus assumenda iure, inventore deleniti nulla voluptatum harum laudantium. Repudiandae, et. Voluptatibus illo voluptas nemo aperiam enim quia debitis sit id eum aut ea culpa sed inventore, ipsum cupiditate eius laudantium dolore. Laboriosam esse in dolor consequuntur pariatur sint voluptatum recusandae tenetur iure, repellendus neque corrupti commodi officiis enim sapiente itaque maiores ut quasi deserunt quis autem magnam est! Accusantium, nemo earum!</p>

    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
