<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
  <div class="container-fluid main-cont">
    <%- include('./partials/admin-nav.ejs') %>

    <h1 class="mt-4">Hi <%= admin.name %> !!</h1>
 
    <p class="text-primary mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum atque maiores recusandae reprehenderit cupiditate cumque repudiandae architecto dicta. Illo est omnis iure ipsa nihil, laborum nulla. Debitis vitae natus maxime nihil nulla cupiditate atque explicabo repellendus aut non voluptate animi eveniet rerum culpa, enim aspernatur. Repellat hic possimus excepturi error magni aperiam quibusdam sed nobis distinctio optio dolor explicabo, velit commodi veniam ex sit ipsum dignissimos labore aspernatur ratione quasi delectus, eaque minima. Nam provident dicta nihil assumenda sed inventore officia a officiis voluptas iusto perferendis molestiae non eligendi, harum quisquam, saepe earum eius tempore ea molestias repellat. Iusto expedita nostrum, nisi modi illum repudiandae alias repellat laboriosam quisquam minus dolorum totam provident nam hic quos amet delectus ipsam, incidunt vel sequi atque ad architecto. Repellat esse at maxime corrupti vero similique, maiores in nemo sed architecto rerum illum ullam incidunt minus, id, nulla atque! Eaque ipsam dolorum magni neque facere aperiam, atque aliquam error odio minima soluta nobis facilis consequatur reprehenderit asperiores molestias laboriosam architecto. Perferendis quod omnis nesciunt atque fuga! Fuga non optio libero commodi, voluptatum ut inventore. Minus tenetur qui commodi, omnis pariatur a molestias enim quaerat optio voluptatibus, voluptatum labore alias beatae ducimus accusantium porro reiciendis possimus sapiente facilis consequuntur dolor laborum? Consequatur dolores quas distinctio et sequi molestias debitis quae necessitatibus dicta magnam laboriosam, quaerat fugit aliquam hic in dignissimos veritatis accusantium commodi at? Modi fuga, praesentium unde at harum velit reprehenderit quo itaque aperiam impedit nisi? Laudantium maxime quae quaerat dolorem, neque minima dignissimos?</p>
  </div>
  <%- include('./partials/footer.ejs') %>
</body>

</html>