<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>

  <div id="signin-modale">
    <section>

      <div class="container" id="signin-container">

        <div class="user signinBx">
          <div class="imgBx"><img src="https://raw.githubusercontent.com/WoojinFive/CSS_Playground/master/Responsive%20Login%20and%20Registration%20Form/img1.jpg" alt="" /></div>
          <div class="formBx">
            <form action="/user/signin" method="post">
              <h2>Sign In</h2>
              <input type="email" name="email" placeholder="Email" />
              <input type="password" name="password" placeholder="Password" />
              <input type="submit" value="Login" />
              
              <p class="auth-text"><%= message %> </p>

              <p class="signup">
                Don't have an account ?
                <a href="/user/register">Sign Up.</a>

                <a href="/admin/signin" class="btn btn-primary p-2 px-3 text-light mt-5">Admin Sign-In</a>

              </p>
            </form>
          </div>
        </div>

      </div>

    </section>
    <div class="container-fluid main-cont">

    </div>




  </div>
  <%- include('./partials/footer.ejs') %>
</body>

</html>