<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
  <div class="container-fluid main-cont">

    <div id="signin-modale">
      <section>
        <div class="container" id="signin-container">
          <div class="user signinBx">
            <div class="imgBx"><img src="https://raw.githubusercontent.com/WoojinFive/CSS_Playground/master/Responsive%20Login%20and%20Registration%20Form/img1.jpg" alt="" /></div>
            <div class="formBx">
              <form action="/signin" method="post" >
                <h2>Sign In</h2>
                <input type="email" name="email" placeholder="Email" />
                <input type="password" name="password" placeholder="Password" />
                <input type="submit" value="Login" />
                <% if (message=== 'Wrong Email/Password !' ){ %>
                  <p class="auth-text"><%= message %> </p>
                  <% } %> 
                <p class="signup">
                  Don't have an account ?
                  <a href="/register" >Sign Up.</a>
                </p>
              </form>
            </div>
          </div>
         
        </div>
      </section>
    </div>

  
  </div>
  <%- include('./partials/footer.ejs') %>
</body>

</html>