@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}



.main-cont{
  position: relative;
  height: 800px;
}

body{
  background-color: antiquewhite;
}

footer{
  position: absolute;
  bottom: 0px;
}

.hidden{
  visibility: hidden;
  opacity: 0;
}