.carousel-item img{
  margin: auto;
  height: 25rem;

}

.prod-buttons{
  gap: 3rem;
}

.carousel-nxt{
  background-color: rgba(70, 66, 66, 0.356);
}

.carousel-pvs{
  background-color: rgba(70, 66, 66, 0.356);
}

.carousel {
  margin : 3rem 0;

}

.description{
  max-width: 36rem;
}

body{
  background-color: #f7f4f4;
}